:root {
    --maincolor: rgb(30, 30, 30);
}

* {
    background: inherit;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    color: rgb(175, 175, 175);
}

body {
    background: black;
    height: 100vh;
    width: 100vw;
    inset: 0;
}

img {
    width: 1rem;
    height: 1rem;
}

li {
    list-style: none;
}

button, i, h1, h2, h3, h4, h5, h6, ins, fieldset, legend, input {
    all: unset;
}

input[type="submit"] {
    cursor: pointer;
}

button {
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* -----------------------------------
------------------POPUPS---------------
-------------------------------------- */

.popup {
    inset: 0;
    z-index: 100;
    position: fixed;
    display: grid;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.6);
}

.popup .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 90%;
    margin: auto;
    border-radius: 0.5rem;
    padding: 1rem;
    background:rgb(30, 30, 30);
    text-align: center;
}

.popup .container > * {
    grid-column: 1/ 3;
    border-radius: 0.5rem;
    padding: 1rem;
}

.popup .button {
    background: rgb(50, 50, 50);
    padding: 1rem;
    grid-column: 1;
}

.popup .button:last-child {
    grid-column: 2;
}

/* -----------------------------------
-----------PROFILE DETAILS---------------
-------------------------------------- */

.profileDetails {
    grid-column: 1/ 3;
    width: 100%;
    display: grid;
    grid-template-columns: 4rem auto;
    column-gap: 1rem;
    grid-template-rows: 2rem 2rem;
    background: rgb(50, 50, 50);
    text-align: left;
    align-items: center;
}

.profileDetails img {
    grid-row: 1/ 3;
    height: 4rem;
    width: 4rem;
    font-size: 0;
    border-radius: 50%;
    background: rgb(30, 30, 30)
}

.profileDetails > * {
    white-space: nowrap;
    overflow: hidden;
}

.profileDetails .username {
    opacity: 0.5;
}


/* -----------------------------------
------------------SETTINGS---------------
-------------------------------------- */

.settings {
    z-index: 104;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;
    height: calc(100vh - 4rem);
    padding: 1rem;
    width: 100vw;
    position: fixed;
    background: rgb(30, 30, 30);
}

.settings button {
    padding: 1rem;
    width: 100%;
    outline: 1px solid red;
}


/* -----------------------------------
------------SETTINGS NAV---------------
-------------------------------------- */

#settingsNav {
    z-index: 107;
}

/* -----------------------------------
------------------NAVBAR---------------
-------------------------------------- */

.nav {
    z-index: 100;
    position: fixed;
    display: grid;
    grid-template-columns: max-content auto max-content;
    bottom: 0;
    height: 4rem;
    width: 100vw;
    box-shadow: 0 0 15px black;
    background: rgb(30, 30, 30);
}

.nav button:active {
    background: rgb(70, 70, 70);
}

.nav img {
    height: 3rem;
    width: 3rem;
    margin: 0.5rem;
    border-radius: 50%;
}

.nav .leftButton {
    grid-column: 1;
    border-radius: 50%;
}

.nav .centerButton {
    grid-column: 2;
    width: 100%;
    height: 2.5rem;
    margin: 0.75rem 0;
    border-radius: 0.5rem;
    background: rgb(50, 50, 50);
    text-align: center;
}

.nav .rightButton {
    grid-column: 3;
    border-radius: 50%;
}

/* -----------------------------------
------------LOGIN POPUP-------------
-------------------------------------- */
.loginSignup .hint {
    grid-column: 1/ 3;
    font-size: 0.8rem;
    opacity: 40%;
}

/* -----------------------------------
------------SIGNUP SECTION-------------
-------------------------------------- */

.signupSection input {
    padding: 1rem;
    background: rgb(20, 20, 20);
}

/* --------------------------------------
------------IMAGE SECTION----------------
-------------------------------------- */

#imageLabel {
    grid-column: 1/ 3;
}

#imageInput {
    display: none;
}

.imageSection .profileDetails {
    grid-column: 1/ 3;
}

/* --------------------------------------
------------COMPOSE AREA----------------
-------------------------------------- */
.composeSection {
    position: fixed;
    z-index: 100;
    inset: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.6);;
}

.composeBleep {
    z-index: 102;
    display: grid;
    grid-template-columns: 5rem auto;
    grid-template-rows: 5rem auto;
    border-radius: 0.5rem;
    background: rgb(30, 30, 30);
    margin: 0.5rem;
    inset: 0 0 auto 0;
    padding: 1rem 1rem 0 1rem;
}

#textArea {
    grid-column: 1/ 3;
    border: none;
    outline: none;
    height: auto;
    resize: none;
    height: max-content;
}

#textArea::placeholder {
    color: rgb(90, 90, 90);
}

.attachPreview {
    position: relative;
    display: grid;
    place-content: center;
    grid-column: 1/ 3;
    margin-top: 1rem;
    border: 1px solid rgb(10, 10, 10);;
    border-radius: 0.5rem;
    background: rgb(20, 20, 20);
    padding: 1rem;

}

#attachDeleteButton {
    position: absolute;
    padding: 1rem;
    height: 1rem;
    top: 0;
    right: 0;
    background: rgb(20, 20, 20);
    opacity: 0.6;
}

#attachPreviewImage {
    width: unset;
    height: unset;
    min-height: 3rem;
    max-height: 50rem;
    background: rgb(20, 20, 20);
    color: rgb(20, 20, 20);
}

#attachMediaInput {
    display:none
}

/* --------------------------------------
------------COMPOSE NAV----------------
-------------------------------------- */

#composeNav {
    z-index: 103;
}

#composeNav .centerButton:active, #composeNav .centerButton:focus {
    background: rgb(50, 50 ,50);
}

/* -----------------------------------
------------SEND WARNING------------
-------------------------------------- */

.sendWarning {
    z-index: 104;
    position: absolute;
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.6);
}

#sendWarning_content {
    display:grid;
    width: 75%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 13vw;
    gap: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background:rgb(30, 30, 30);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#sendWarning_message {
    grid-column: 1 / 3;
    text-align: center;
    padding: 1rem;
}

/* -----------------------------------
------------ERASE WARNING------------
-------------------------------------- */



/* -----------------------------------
------------BLOCK SECTION-------------
-------------------------------------- */
.blockSection .explanation {
    background: rgb(20, 20, 20);
}


/* -----------------------------------
------------REPORT SECTION-------------
-------------------------------------- */

#reportSection select {
    outline: none;
    border: none;
    background: rgb(20, 20, 20);
    padding: 1rem;
    text-align: center;
}

/* -----------------------------------
-------------CONFIRM REPORT-------------
-------------------------------------- */



/* -----------------------------------
------------------BLEEPS---------------
-------------------------------------- */

.bleepList {
    margin-bottom: 5rem;
    inset: 0;
}

#bleepList2 {
    z-index: 110;
    position: fixed;
    height: 100vh;
}

.bleep {
    display: grid;
    position: relative;
    grid-template-columns: 5rem auto;
    grid-template-rows: 5rem auto auto auto;
    border-radius: 0.5rem;
    background: rgb(30, 30, 30);
    box-shadow: 0 0 5px black;
    margin: 0.5rem; 
    margin-bottom: 0;
    padding: 1rem 1rem 0 1rem;
}

.profileImage {
    height: 4rem;
    width: 4rem;
    font-size: 0;
    border-radius: 50%;
    background: rgb(20, 20, 20);
}

.infoContainer {
    display: grid;
    width: 100%;
    height: 4rem;
    padding-right: 1rem;
    align-content: space-between;
}


.profileName {
    font-weight: bold;
    overflow: clip;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.profileUsername {
    color:rgb(90, 90, 90);
    overflow: clip;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.timestamp {
    grid-row: 3;
    font-weight: 200;
}

.topRightButton {
    z-index: 99;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
}


.text {
    grid-column: 1/ span 2;
    grid-row: 2;
}

/* --------BLEEP REPORT OPTIONS-------- */

.topRightPopup {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    right: 0;
    text-align: center;
    outline: 0.1rem solid rgb(50, 50, 50);
    background: rgb(30, 30, 30);
    border-radius: 0.5rem;
    box-shadow: 0 0 5px black;
}

.blockButton {
    margin-top: 2.5rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.reportButton {
    padding: 0.5rem 1rem 1rem 1rem;
}

.attachments {
    grid-column: 1 / span 2;
    display: flex;
    align-items: center;
    padding-top: 0.5rem;
}

.attachments img {
    height: 1rem;
}

.attachments li {
    display: inline;
    font-size: small;
    margin-left: 0.5rem;
}

/* --------ACTIONBAR-------- */

.actionbar {
    grid-row: 4;
    grid-column: 1/ span 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.actionbar button {
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 1rem;
}

.actionbar label {
    text-align: end;
}

.actionbar img {
    margin-left: 0.25rem;
}

/* --------TOGGLES-------- */

.off {
    display: none;
}

.noscroll {
    height: 100%;
    overflow: hidden;
}

/* --------COMMENTS-------- */

.commentsSection {
    margin: 0 1rem 0.5rem 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background:rgb(20, 20, 20);
    border-radius: 0 0 0.5rem 0.5rem;
}

.commentsSectionButtons {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.hideButton {
    padding: 0.5rem;
    width: 25%;
}

.moreButton {
    padding: 0.5rem;
    width: 25%;
}